r-var {
  display: block;
  color: #D46485;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  background-color: #EFEFEF;
  width: fit-content;
  padding: 5px;
  margin: 5px 0;
}

r-dynamic {
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px dashed var(--mdc-theme-secondary, #46F);
}

r-action {
  cursor: pointer;
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px solid var(--mdc-theme-secondary, #46F);
}

r-action.noclick {
  cursor: unset;
  border-bottom: unset;
}

.cursor-move {
  cursor: move;
}

.cursor-col-resize {
  cursor: col-resize;
}

article {
  margin: auto;
  padding-left: 20px;
  padding-right: 250px;
  padding-bottom: 100px;
  position: relative;
  width: calc( max( min( 100vw , 760px ), 500px ) );
}

article.centered {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: calc( max( min( 100vw , 760px ), 500px ) );
}

@media screen and (max-width: 1050px) {
  article {
    width: calc(100vw - 250px);
  }

  article.centered {
    width: calc(100vw - 40px);
  }
}
@media screen and (max-width: 800px) {
  article, article.centered {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 40px);
  }
}
article a {
  color: #1E88E5;
  text-decoration: none;
  font-weight: 500;
}
article a:hover {
  text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: var(--curvenote-font-headers, serif);
}
article h1::before, article h2::before, article h3::before, article h4::before, article h5::before, article h6::before {
  content: "#";
  cursor: pointer;
  position: absolute;
  left: 0px;
  color: #929292;
  opacity: 0;
  padding-right: 10px;
  transition: all 200ms;
}
article h1:hover::before, article h2:hover::before, article h3:hover::before, article h4:hover::before, article h5:hover::before, article h6:hover::before {
  opacity: 1;
}
article code {
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  padding: 0 3px;
}
article h1:first-of-type {
  border-bottom: 1px solid #333;
}
article dl {
  color: #4D4D4D;
  font-family: var(--curvenote-font, sans-serif);
  line-height: 1.4;
}
article dl dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article dl dd {
  margin-left: 180px;
}
@media screen and (max-width: 800px) {
  article dl dt {
    float: unset;
    width: unset;
    overflow: unset;
    clear: unset;
    text-align: unset;
    text-overflow: unset;
    white-space: unset;
  }
  article dl dd {
    margin-left: 15px;
  }
}
article p {
  display: block;
  text-align: justify;
  overflow-wrap: break-word;
  font-size: 17px;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4D4D4D;
  font-family: var(--curvenote-font, sans-serif);
  font-weight: 300;
}
@media screen and (max-width: 800px) {
  article p {
    text-align: left;
  }
}
article ol p, article ul p {
  margin: 0;
  text-align: left;
}
article em {
  font-style: italic;
}
article strong {
  color: black;
}
article table {
  width: 100%;
  border-collapse: collapse;
}
article thead {
  font-size: 105%;
  border-bottom: 1px solid #333;
  color: black;
}
article tbody {
  border-left: 1px solid #333;
}
article td {
  padding-left: 8px;
}
article hr {
  width: 200px;
  margin: 30px 0;
  margin-left: calc(50% - 100px);
  border-top: 1px solid #B2B2B2;
  border-bottom: none;
  border-left: none;
  border-right: none;
  clear: both;
}
article img {
  max-width: 100%;
}

article .card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  list-style: none;
}

article r-outline.popout {
  position: fixed;
  top: 53px;
  left: calc(50vw + 530px);
}

article.centered r-outline.popout {
  left: calc(50vw + 420px);
}

@media screen and (max-width: 1500px) {
  article r-outline.popout {
    position: initial;
    top: unset;
    left: unset;
  }
}
nav {
  width: 200px;
}
nav > div {
  position: relative;
  font-family: var(--curvenote-font-headers);
}
nav ul {
  font-family: var(--curvenote-font);
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style-type: none;
}
nav a {
  display: block;
  padding: 5px;
  padding-left: 1em;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
nav a:hover, nav a.selected {
  color: var(--mdc-theme-primary);
  text-decoration: none;
  background-color: #F1F3F4;
}
nav ul ul a {
  padding-left: 2em;
}
nav ul ul ul a {
  padding-left: 3em;
}
nav ul li.section div {
  padding-left: 1em;
  cursor: pointer;
  position: relative;
}
nav ul li.section div:hover, nav ul li.section.selected div {
  color: var(--mdc-theme-primary);
}
nav ul li.section div:after {
  content: " ";
  position: absolute;
  right: 20px;
  width: 8px;
  height: 8px;
  transition: all 200ms;
  border-left: 0 solid transparent;
  border-top: 0 solid transparent;
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: translate(0, 2px) rotate(45deg);
}
nav ul li.section.open div:after {
  border-left: 2px solid #333;
  border-top: 2px solid #333;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  transform: translate(0, 7px) rotate(45deg);
}
nav ul li.section {
  padding: 0.6em 0;
  box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.1);
  transition: all 200ms;
  max-height: calc(1em + 2px);
  overflow: hidden;
}
nav ul li.section.open {
  max-height: 150vh;
}
nav ul li.section ul {
  padding-top: 10px;
  transition: all 200ms;
  transform: scaleY(0);
  transform-origin: top;
}
nav ul li.section.open ul {
  transform: scaleY(1);
}

nav.popout {
  position: fixed;
  top: 153px;
  left: calc(50vw - 420px - 330px);
}

nav.popout > ul {
  max-height: calc(100vh - 153px - 2em);
  overflow-y: auto;
}

nav.popout.centered {
  transform: translateX(130px);
}

@media screen and (max-width: 1500px) {
  nav.popout.centered {
    transform: unset;
  }

  nav.popout {
    position: fixed;
    top: 0px;
    left: -200px;
    z-index: 10;
    transition: left 200ms;
  }

  nav.popout.open {
    left: 0px;
  }

  nav.popout > div {
    height: 1.4em;
    padding: 15px;
    margin-right: -20px;
    border: 1px solid #AAA;
    background-color: #FFF;
    border-radius: 10px;
  }

  nav.popout > div:after {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    right: 7px;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    transform: translate(0, 6px) rotate(45deg);
    transition: all 200ms;
  }

  nav.popout.open {
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.1);
  }

  nav.popout.open > div:after {
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    transform: translate(3px, 6px) rotate(-135deg);
  }

  nav.popout.open > div {
    border: 1px solid transparent;
  }

  nav.popout > ul {
    background-color: #FFF;
    max-height: unset;
    height: calc(100vh - 1.4em - 30px);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
  }
}
article aside {
  position: relative;
  float: right;
  width: 210px;
  padding-left: 20px;
  margin-top: -30px;
  margin-right: -230px;
  background-color: #FFF;
}

article aside, article aside p {
  font-size: 12px;
  color: #aaa;
  font-family: var(--curvenote-font, sans-serif);
  text-align: left;
}

article.centered aside {
  float: right;
  width: 33%;
  margin: unset;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  article aside, article.centered aside {
    float: unset;
    width: unset;
    margin: unset;
    border-left: 5px solid #eee;
  }
}
article aside.callout {
  position: unset;
  left: unset;
  width: unset;
  float: unset;
  margin: unset;
  margin-top: unset;
  display: block;
  padding: 5px 20px;
  margin: 20px 0;
  border: 1px solid #AAAAAA;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #4285F4;
}

article aside.callout, article aside.callout p {
  font-size: inherit;
  color: #000;
}

article aside.callout.active {
  border-left-color: #AAAAAA;
}

article aside.callout.success {
  border-left-color: #9EC667;
}

article aside.callout.info {
  border-left-color: #4285F4;
}

article aside.callout.warning {
  border-left-color: #F3B300;
}

article aside.callout.danger {
  border-left-color: #CA4F44;
}

article blockquote {
  padding: 10px 20px;
  margin: 20px 0;
  border-left: 5px solid var(--mdc-theme-primary, #eee);
}
article blockquote p {
  color: #646464;
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
article blockquote footer {
  font-family: var(--curvenote-font, sans-serif);
  color: #a7a7a7;
  font-size: 1em;
}
article blockquote footer cite {
  text-transform: uppercase;
  color: var(--mdc-theme-primary, #eee);
  font-style: normal;
  font-weight: 700;
}
article blockquote footer time {
  font-style: italic;
  font-size: 0.9em;
}
article blockquote footer time::before {
  content: " - ";
}

body {
  margin: 0;
  padding: 0;
}

r-var {
  display: none;
}

/*# sourceMappingURL=iooxa.css.map */
